/*  your css code here. If applicable */
 div{
   margin:-10px;
}
div p:first-child {
    background-color: black;
    color: white;
	
}

div p:last-child {
    color: red;
}

body ul li:nth-child(1) {
    background-color: white;
}

body ul li:nth-child(2) {
    background-color: slategray;
}

body ul li:nth-child(3) {
    background-color: pink;
}

body ul li:nth-child(4) {
    background-color: slategray;
}

body ul li:nth-child(5) {
    background-color: white;
}
  body{
	background:rgb(135, 206, 235); 
}

